---
swagger: "2.0"
info:
  description: "Viva Real API Code Challenge"
  version: "1.0.0"
  title: "Viva Real API"
host: "vivareal.api"
basePath: "/v1"
schemes:
- "https"
paths:
  /properties:
    get:
      summary: "Gets some properties"
      description: "Returns a list containing all properties."
      operationId: "properties_get"
      parameters:
      - name: "ax"
        in: "query"
        description: "Top right ax"
        required: false
        type: "integer"
      - name: "ay"
        in: "query"
        description: "Top right ay"
        required: false
        type: "integer"
      - name: "bx"
        in: "query"
        description: "Lower left bx"
        required: false
        type: "integer"
      - name: "by"
        in: "query"
        description: "Lower left by"
        required: false
        type: "integer"
      responses:
        200:
          description: "A list of Properties"
          schema:
            $ref: "#/definitions/Properties"
        500:
          description: "An unexpected error occured."
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
    post:
      summary: "Creates a property"
      description: "Adds a new property to the properties list."
      operationId: "properties_post"
      parameters:
      - in: "body"
        name: "property"
        description: "The property to create."
        required: false
        schema:
          $ref: "#/definitions/Property"
      responses:
        204:
          description: "Properties succesfully created."
        400:
          description: "Property does not exist."
        500:
          description: "An unexpected error occured."
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
  /properties/{id}:
    get:
      summary: "Gets a property"
      description: "Returns a single property for its id."
      operationId: "properties_id_get"
      parameters:
      - name: "id"
        in: "path"
        description: "The id's property"
        required: true
        type: "string"
      responses:
        200:
          description: "A property"
          schema:
            $ref: "#/definitions/Property"
        404:
          description: "Property does not exist."
        500:
          description: "An unexpected error occured."
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
    delete:
      summary: "Deletes a property"
      description: "Delete a single property identified via its id"
      operationId: "properties_id_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "The person's id"
        required: true
        type: "string"
      responses:
        204:
          description: "Property successfully deleted."
        404:
          description: "Property does not exist."
        500:
          description: "An unexpected error occured."
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
definitions:
  Property:
    required:
    - "baths"
    - "beds"
    - "description"
    - "price"
    - "squareMeters"
    - "title"
    - "x"
    - "y"
    properties:
      x:
        type: "number"
        format: "double"
      y:
        type: "number"
        format: "double"
      title:
        type: "string"
        minLength: 1
      price:
        type: "number"
        format: "double"
      description:
        type: "string"
      beds:
        type: "integer"
        format: "int32"
      baths:
        type: "integer"
        format: "int32"
      squareMeters:
        type: "number"
        format: "double"
  Properties:
    type: "array"
    items:
      $ref: "#/definitions/Property"
  Error:
    properties:
      code:
        type: "string"
      message:
        type: "string"
responses:
  Standard500ErrorResponse:
    description: "An unexpected error occured."
    schema:
      $ref: "#/definitions/Error"
  PropertyDoesNotExistResponse:
    description: "Property does not exist."
